/*  baseado em CSS Grid Layout Module Level 1 de
    W3C Candidate Recommendation, 21 October 2020 */

body {  background-color: #e67300;);      }

#templos
  {     display:  grid   ;
        grid-template-columns:  auto auto auto auto; // 4 colunas iguais
        grid-template-rows: auto auto auto auto;     // 4 linhas iguais
        padding-left: 5px ; padding-top: 7px ; padding-bottom: 7px;
  }

.title    { grid-column: 2 / span 2; grid-row: 1; color: yellow; text-align: center;
            font-size: 50px; text-decoration:  underline; text-decoration-color: #cccc00;
          }

.subtitle { grid-column: 2 / span 3; grid-row: 2; text-align: center; color: #8d0000;
            font-size: 30px; font-style: italic; text-decoration: underline;
          text-decoration-color: #c01a66;}

.fig01    { grid-column: 1; grid-row: 3; }
.fig02    { grid-column: 2; grid-row: 3; }
.fig03    { grid-column: 3; grid-row: 3; }
.fig04    { grid-column: 4; grid-row: 3; }

.linkfig01  { grid-column: 1; grid-row: 4; padding-left: 50px; padding-top: 20px;
              font-size: 120%; width: 100px; text-align: center; }
.linkfig02  {grid-column: 2; grid-row: 4; padding-left: 50px; padding-top: 20px;
              font-size: 120%; width: 100px; text-align: center;}
.linkfig03  {grid-column: 3; grid-row: 4; padding-left: 30px; padding-top: 20px;
              font-size: 120%; width: 140px; text-align: center;}
.linkfig04  {grid-column: 4; grid-row: 4; padding-left: 50px; padding-top: 20px;
              font-size: 120%; width: 100px; text-align: center; }

.tetris       {   display:   grid;
                  grid-template-columns: 170px auto auto auto 170px;
                  grid-template-rows: auto 30px auto;
                  background-color: yellow;
                  padding: 20px 20px;
                  border: 7px solid red;
              }

.lefttetris   {
                  grid-column: 1; grid-row: 1 / span 3;
                  background-color: #ff9900;
                  padding:10px; padding-left: 20px;
              }

.tetrisc2     {
                  grid-column: 2; grid-row: 1 / span 3;
                  background-color: #ff7733;
                  padding:10px; padding-left: 10px ;
                  margin-left: 25px;
                  border: 7px solid red;
              }

.login        {
                  grid-column: 3; grid-row: 1 ;
                  background-color: #0095f6; color: #ffffff;
                  width: 50%;
                  padding-left: 70px; padding-right: 70px;
                  padding-top: 15px; padding-bottom: 15px;
                  margin: auto;
                  border-radius: 14px; border: 7px solid #0000ff;
                  font-size: 30px;
                  text-align: center;
              }

.logout       {
                  grid-column: 3; grid-row: 3 ;
                  background-color: red; color: #ffffff;
                  width: 50%;
                  padding-left: 70px; padding-right: 70px;
                  padding-top: 20px; padding-bottom: 20px;
                  margin: auto;
                  border-radius: 14px; border: 7px solid #ff9933;
                  font-size: 30px;
                  text-align: center;
              }

.tetrisc4     {
                  grid-column: 4; grid-row: 1 / span 3;
                  background-color: #ff7733;
                  padding:10px;   padding-left: 10px;
                  margin-right: 25px;
                  border: 7px solid red;
              }

.righttetris  {
                  grid-column: 5; grid-row: 1 / span 3;
                  background-color: #ff9900;
                  padding:10px; padding-left: 20px;
              }

.grupo        {
                  display:   grid;
                  grid-template-columns: auto auto auto;
                  grid-template-rows: auto auto;
                  background-color: #ffbb33;
                  padding: 5px; padding-bottom: 30px;
                  margin: auto;
                  width: 70%;
                  align-items:   stretch;
                  border: 7px solid lightgray;
              }

.contas1      {
                  grid-column: 1 / span 3 ; grid-row: 1;
                  color: #0000ff;
                  font-size: 40px;
                  text-align: center;
              }

.link1       {
                  grid-column: 1 ; grid-row: 2;
                  color: red;
                  padding-top: 15px;
                  font-size: 28px;
                  text-align: center;
             }

.contas2     {
                  grid-column: 2 ; grid-row: 2;
                  color: #0000ff;
                  padding-top: 15px;
                  font-size: 30px;
                  text-align: center;
             }

.link2       {
                 grid-column: 3 ; grid-row: 2;
                 color: red;
                 padding-top: 15px;
                 font-size: 30px;
                 text-align: center;
             }

.pegar-aplicativo {
                    display:   grid;
                    grid-template-columns: auto 200px auto;
                    grid-template-rows: auto auto;
                    background-color: #e6ccff;
                    padding: 15px; padding-bottom: 20px;
                    margin: auto;
                    margin-top: 30px;
                    width: 90%;
                    border: 7px solid #b366ff;
                  }

.baixar       {
                    grid-column: 1 /span 3 ; grid-row: 1;
                    color: red;
                    padding-top: 5px;
                    padding-bottom: 25px;
                    font-size: 35px;
                    text-align: center;
              }

.download1    {
                    grid-column: 1 ; grid-row: 2;
                    padding-left: 20px;
              }

.download2    {
                    grid-column: 3 ; grid-row: 2;
                    padding-right: 10px;
              }
